body{
    background-size: cover;
    margin: 0;
    background-image: url("backgroundlong.png");
}
a {
    text-decoration: none;
}
div {
    border: 0px solid #000000;
}
#wrapper {
    position: relative;
    margin: 0;
    padding-bottom: 200;
}
#main{
    max-width: 800;
    margin: 0 auto;
}
p { 
   font-family: 'AveriaSerifBold'; 
   font-weight: bold; 
   font-style: normal; 
   color: #FFFFFF;}
