body{
    background-image: url('tilewings.jpg');
    background-size: cover;
}
div.body{
  width: 50%;
  background-color: rgba(255,255,255,0.6); 
  margin: 0.7em 0;
  padding: 1em;
}

img.test{
    -webkit-mask-image: url('puff.png');
