body{
    background-size: cover;
    background-image: url("background.png");
    font-family: 'HussarPaneuropjskichLwCsObl'; 
    font-weight: normal; 
    font-style: normal;
}
div.gallery{
  width: 90%;
}
div.img{
  display: inline-block;
  padding: 4px;
  margin: 3em 3em;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left bottom,
  left top, color-stop(0.33, rgb(239,176,120)),
  color-stop(0.67, rgb(233,152,122)));
  background-image: -moz-linear-gradient(center bottom,
  rgb(239,176,120) 33%, rgb(233,152,122) 67% );
}
#palm{
    position: absolute;
    top: -80;
    left: -300;
}
#pine{
    position: absolute;
    top: 700;
    left: -400;
}
#acai{
    position: absolute;
    top: 1100;
    left: -400;
}
#banana{
    position: absolute;
    top: 1600;
    left: -500;
}
#jacaranda{
    position: absolute;
    top: 1700;
    left: -700;
}
#flamboyant{
    position: absolute;
    top: 2100;
    left: -600;
}
h1{
    font-size: 300%;
}
