body{
    background-size: cover;
    margin: 0;
    background-image: url("backgroundlong.png");
}
a {
    text-decoration: none;
}
div {
    border: 0px solid #000000;
}
#wrapper {
    position: relative;
    margin: 0;
    padding-bottom: 200;
}
#main{
    max-width: 800;
    margin: 0 auto;
}
div.img{
  display: inline-block;
  padding: 6px;
  margin: 1em 1em;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left bottom,
  left top, color-stop(0.33, rgb(239,176,120)),
  color-stop(0.67, rgb(233,152,122)));
  background-image: -moz-linear-gradient(center bottom,
  rgb(239,176,120) 33%, rgb(233,152,122) 67% );
}
#header{
    width: 700px;
}
#navleft{
    float: left;
    width: 33%;
}
#navright{
    width: 33%;
    float: left;
}
#navmiddle{
    width: 33%;
    float: left;
}
p{
    margin-bottom: 50;
    font-family: 'ABebederaHeavy'; 
    font-weight: normal; 
    font-style: normal; 
}
#palm{
    position: absolute;
    top: -80;
    left: -300;
}
#pine{
    position: absolute;
    top: 700;
    left: -400;
}
#acai{
    position: absolute;
    top: 1100;
    left: -400;
}
#banana{
    position: absolute;
    top: 1600;
    left: -500;
}
#jacaranda{
    position: absolute;
    top: 1700;
    left: -700;
}
#flamboyant{
    position: absolute;
    top: 2100;
    left: -600;
}
#planter{
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
h1{
    font-size: 300%;
    font-family: 'HussarPaneuropjskichLwCsObl'; 
    font-weight: normal; 
    font-style: normal;
    margin-bottom: -10;
}
