body{
  background-size: cover;
  margin: 20px;
  background-image: url("desertnight.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
  background-position: top right;
  background-repeat: no-repeat;
  color: #c8ced4;
  text-shadow:
    1px 1px 2px black;
}
a{
  color: inherit;
}
h1 #blogtitle{
  color: aqua;
  text-shadow: -3px 2px 0 white , 4px -3px 0 purple;
  <!--
  color: #a821af;
  text-shadow: -3px 2px 0 #ff6e00 , 4px -3px 0 #760009;

  color: aqua;
  text-shadow: -3px 2px 0 white , 4px -3px 0 green;
  --->
  font-size: 150%;
}
#blogsubtitle {
  font-size: 90%;
}
img{
  max-width: 400px;
  padding: 0px;
  margin: 10px;
  border: 3px solid gray;
}
p{
  padding: 5px;
}
.image {
  float: left;
  max-width: 426px;
  padding: 3px;
  text-align: center;
  border: 0px solid red;
}
.paragraph {
  clear: both;
}
