body{
	height: 100%;
	width: 100%;
}

#stage{
	height: 100%;
	width: 100%;
	position: absolute;
}

.players {
  height: 100%;
	width: 80%;
 	border: 7px solid yellow;
	background: pink;
	opacity: .3;
	position: absolute;
	-webkit-transition: -webkit-transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
	-o-transition: -o-transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
	-moz-transition: -mox-transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
	transition: transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
}

.scene {
	-webkit-transition: opacity .6s -webkit-transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
	-o-transition: opacity .6s -o-transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
	-moz-transition: opacity .6s -mox-transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);
	transition: opacity .6s transform .6s cubic-bezier(0.455, 0.020, 0.000, 1.0);	opacity: 1;
}

.nav {
	width: 200px;
	height: 100px;
	position: fixed;
	background: green;
	z-index:10;
	cursor: pointer;
}

#prev {
	top: 200px;
	left: 10px;
}

#next {
	top: 200px;
	right: 10px;
}