body{
    background-size: 100%;
    margin: 0;
    background-image: url("backgroundlong.jpg");
    font-family: monospace;
    color: white;
    text-shadow:
      1px 1px 1px orange;
}
a {
    color: #FFFFFF;
}
div {
    border: 0px solid #000000;
}
#wrapper {
    position: relative;
    margin: 0;
    padding-bottom: 0;
}
#main{
    max-width: 800;
    margin: 0 auto;
}
div.body{
    width: 50%;
}
.gallery img {
  display: inline-block;
  padding: 1px;
  margin: 1em 1em;
  border: 6px solid #FFFFFF;
  overflow: hidden;
  background-color: #000000;
}
#header{
    width: 700px;
}
p{
    margin-bottom: 50;
    font-weight: normal; 
    font-style: normal; 
}
#dypsis{
    position: absolute;
    top: 200;
    left: -300;
}
#palm{
    position: absolute;
    top: 1700;
    left: -380;
}
#acai{
    position: absolute;
    top: 900;
    left: -200;
}
#banana{
    position: absolute;
    top: 2300;
    left: -500;
}
#jacaranda{
    position: absolute;
    top: 2400;
    left: -700;
}
#flamboyant{
    position: absolute;
    top: 2800;
    left: -600;
}
h1{
    font-size: 300%;
    font-weight: normal; 
    font-style: normal;
    margin-bottom: -10;
    color: #FFFFFF;
}
