body{
  color: #DDDDDD;
  background-image: url("/public/blueorbs.png");
  background-color: #130064;
  background-size: cover;
  margin: 0;
  font-family: monospace;
  background-position: top;
  background-repeat: no-repeat;
  padding: 5px;
}
a{
  color: inherit;
}
h1{
  color: #CCCCCC;
  text-shadow: 
    2px 2px 2px rgba(214, 0, 0, 0.6),
    -2px -2px 1px black;
}
#wrapper {
  position: relative;
  margin: 0 auto;
  padding-bottom: 10;
  overflow: auto;
}
div.header {
  padding: 0 0 20 0;
}
#navleft{
  float: left;
  width: 49%;
}
#navright{
  width: 49%;
  float: right;
}
img.block{
  display:block;
  border: 4px solid #DDDDDD;
  width: 60%;
}
