body{
  color: #DDDDDD;
  text-shadow: 
    1px 1px 2px black;
  background-image: url("/blueorbs1.jpg");
  background-color: #130064;
  background-size: cover;
  margin: 0;
  font-family: monospace;
  background-position: top;
  background-repeat: no-repeat;
  padding: 0 5px;
}
a{
  color: inherit;
}
h1{
  color: #9b77cb;
  text-shadow: 
    2px 2px 0px #57259a,
    -2px -2px 0px deepskyblue;
}
#wrapper {
  position: relative;
  margin: 0 auto;
  padding-bottom: 20;
  overflow: auto;
}
div.header {
  padding: 0 0 20 0;
}
#navleft{
  float: left;
  width: 49%;
  clear: both;
}
#navright{
  width: 49%;
  float: right;
}
img.block{
  display:block;
  border: 1px solid #DDDDDD;
  width: 60%;
}
