body{
  background-size: auto;
  margin: 0;
  background-image: url("snowyextwing.png");
  font-family: monospace;
  background-position: top right;
  background-repeat: no-repeat;
  color: #421700;
  text-shadow: 
    2px 0px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(255, 255, 255, 1)
  ;
}
a{
  color: inherit;
}
div {
  width: 100%;  
}
h1{
  color: SpringGreen;
  text-shadow: 
    2px 2px 2px rgba(214, 0, 0, 0.6),
    -2px -2px 1px black;

}
