body{
  background-size: cover;
  margin: 0;
  background-image: url("bigcats.jpg");
  font-family: monospace;
  color: #FFFFFF;
}
a{
  color: inherit;
}
h1{
  text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}
