body{
  background-size: cover;
  margin: 20;
  background-image: url("forest.jpg");
  font-family: monospace;
  color: #FFFFFF;
  font-size: 200%;
}
a{
  color: inherit;
}
h1{
  text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
  font-size: 200%;
}
