body{
    background-size: cover;
    margin: 0;
    background-image: url("backgroundlong.png");
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
div {
    border: 0px solid #000000;
}
#wrapper {
    position: relative;
    margin: 0;
    padding-bottom: 200;
}
#main{
    max-width: 800;
    margin: 0 auto;
}
div.body{
    float: left;
    width: 100%;
    background:rgba(0,0,0,0.5);
}

.body p {
    margin: 20px;
}

.gallery img {
  display: inline-block;
  padding: 1px;
  margin: 1em 1em;
  border: 6px solid #FFFFFF;
  overflow: hidden;
  background-color: #000000;
}
#header{
    width: 700px;
    background:rgba(0,0,0,0.7);
}
#navleft{
    float: left;
    width: 33%;
}
#navright{
    width: 33%;
    float: left;
}
#navmiddle{
    width: 33%;
    float: left;
}
p{
    margin-bottom: 50;
    font-weight: normal; 
    font-style: normal; 
    color: #FFFFFF;
}
#palm{
    position: absolute;
    top: -80;
    left: -300;
}
#elf{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#pine{
    position: absolute;
    top: 700;
    left: -400;
}
#acai{
    position: absolute;
    top: 1100;
    left: -400;
}
#banana{
    position: absolute;
    top: 1600;
    left: -500;
}
#jacaranda{
    position: absolute;
    top: 1700;
    left: -700;
}
#flamboyant{
    position: absolute;
    top: 2100;
    left: -600;
}
#planter{
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 0px;
    left: -120px;
    right: 0px;
}
h1{
    font-size: 300%;
    font-weight: normal; 
    font-style: normal;
    margin-bottom: -10;
    color: #FFFFFF;
}
